@font-face{
  font-family: 'Cuprum';
  src: url('fonts/Cuprum-Regular.ttf');
}

@font-face{
  font-family: 'CraftyGirls';
  src: url('fonts/CraftyGirls-Regular.ttf');
}

@font-face{
  font-family: 'Economica';
  src: url('fonts/Economica-Regular.ttf');
}

head {
  font: 'MadeleinaSans';
  font-size: 20px;
  color: dark rgb(97, 94, 94);
}

body {
    background-color: rgb(225, 233, 223);

  }
  
  h1 {
    color: dark rgb(156, 53, 53);
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size: 35px
  }

  h2{
    color: dark rgb(97, 94, 94);
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size: 30px
  }

  h3{
    color: dark rgb(97, 94, 94);
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size: 20px;
  }

  h4{
    font-family: 'Economica', sans-serif;
    font-size: 25px;
  }

  h5{
    color: dark rgb(131, 21, 21);
    font-family: 'Economica', sans-serif;
    font-size: 20px; 
  }



  #weeklinks{
    color: dark rgb(97, 94, 94);
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    text-decoration: none;
  }

  li{
    color: dark rgb(160, 114, 114);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  p {
    font-family: 'Economica', sans-serif;
    font-size: 20px;
  }
  
  caption{
    caption-side: bottom;
    font-family: 'Economica', sans-serif;
    font-size: 20px;
  }

  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  .row:before {
    content: "";
    clear: both;
    display: table;
  }