
body {
    background-color: rgb(156, 189, 182);
  }
  
  h1 {
    color: dark rgb(97, 94, 94);
    text-align: center;
  }
  
  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }